/*
 * The style document for the Game window.
 */

.root {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-width: 2;
}

.board-pane {
    -fx-background-image: url("../resources/images/Board.png");
}

.grid-pane {
    -fx-background-fills: transparent;
}

.h-box {
    -fx-background-color: rgba(0, 0, 0, 1);
}

.v-box {
    -fx-background-color: rgba(0, 0, 0, 1);
}

.text-flow {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-width: 2;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-background-radius: 0 0 0 0;
}

.button:hover {
    -fx-background-color: rgba(0, 200, 0, 1);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-background-radius: 0 0 0 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.scroll-bar:vertical, scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button , .scroll-bar:vertical .decrement-button, 
.scroll-bar:horizontal .increment-button , .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:vertical .track, .scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track, .scroll-bar:horizontal .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb{
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

