/*
 * The style document for the Game window.
 */

.root {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-width: 2;
}

.stack-pane {
    -fx-background-image: url("../resources/images/Board.png");
}

.grid-pane {
    -fx-background-fills: transparent;
}

.h-box {
    -fx-background-color: rgba(0, 0, 0, 1);
}

.v-box {
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-width: 2;
}

.text-flow {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-width: 2;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.button:hover {
    -fx-background-color: rgba(0, 200, 0, 1);
    -fx-text-fill: rgba(255, 255, 255, 1);
}